<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <title>Angular Homework</title>
  </head>
  <body>
    <div ng-controller="fourIsMore as cuatro">
      {{cuatro.uno}}
      {{cuatro.dos}}
      <input ng.model="cuatro.tres" type="text" name="" value="">
      {{cuatro.tres}}
    </div>
  </body>
</html>

<!-- practice repetition to try to commit initial syntax to memory-->
<!-- practice 3 -->
<!-- <!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
    <title>Angular Mini Homework Monday</title>
  </head>
  <body>
    <h1>Angular Mini Homework Monday</h1>
    <div ng-controller = "thirdTimeIsTheCharm as third">
      {{third.one}}
      {{third.two}}
      <input ng-model="third.favorite" type="text" name="" value="">
      {{third.favorite}}
    </div>
  </body>
</html> -->


<!-- practice 2 -->
<!-- <!DOCTYPE html>
<html ng-app="myApp";>
  <head>
    <meta charset="utf-8">
    <title>Angular Mini Homework</title>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>Angular Mini Homework</h1>
    <div ng-controller="secondRunController as second">
      {{second.thingOne}}
      {{second.thingTwo}}
      <input ng-model="this.name" type="text" name="" value="">
      {{this.name}}
    </div>
  </body>
</html> -->


<!-- PRACTICE 1 -->
<!-- <!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>Angular Minified Homework</title>
    <script src="angular.min.js" charset="utf-8"></script>
    <script src="script.js" charset="utf-8"></script>
  </head>
  <body>
      <h1>Angular Minified Homework</h1>
      <div ng-controller="myFirstOwnController as own">
        {{own.greeting}}
        {{own.thingOne}}
        <input ng-model="own.name" type="text" name="" value="">
        {{own.name}}
      </div>
  </body>
</html> -->
